@use 'variables' as *;

.header,
.footer {
  flex: 0 0 auto;
}

/* Header */

.header,
.site-header {
  display: flex;
  justify-content: space-between;
  background-color: $header-footer-color;
}

.header {
  border-bottom: solid 1px $header-footer-border;
  color: #333;
}

/* Title */
.title {
  margin-left: 1.4em;
  margin-top: -0.8em;
  text-decoration: none !important;
}

.title h1 {
  font-size: 2.6rem;
}


.logo img {
  /*     margin-top: -1em; */
  margin-left: 1em;
  width: 110px;
  height: 110px;
}

.darklogo i {
  /*     margin-top: -1em; */
  margin-left: 0.2em;
  margin-top: 0.15em;
  font-size: 90px;
}

.site-title {
  position: relative;
}

.tagline {
  display: inline-flex;
  margin-top: -1.4rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.tagline p,
.tagline a,
.title a {
  text-decoration: none;
}

.tagline a,
.tagline p {
  font-style: italic;
}

.title,
.logo {
  padding: 2em 2em 2em 0;
}


@media (max-width: 767px) {
  .tagline {
    margin-top: -2rem;
    font-size: 0.9rem;
    letter-spacing: 1px;
  }

  .title {
    margin-left: 1em;
    margin-top: -0.8em;
    text-decoration: none !important;
  }

}
