@use 'variables' as *;


.color-scheme-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: $color-scheme-background;
  margin-bottom: 1.44rem;
  overflow-x: hidden;
  border-radius: 3%;
  text-align: center;
  align-items: center;
  padding: 0.44rem;
  margin: 1.22rem 0;
  margin-bottom: 2.02rem;


  tr {
    display: flex;
    flex-wrap: wrap;
    padding: 0.44rem;
  }

  td {
    height: 85px;
    width: 85px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    padding: 0.44rem;
    margin-left: 0.44rem;
    margin-bottom: 0.44rem;
    border-radius: 4%;

  }


  th {
    text-align: center;
    column-span: auto;
  }

  table {
    border-spacing: 2px;
    border-collapse: separate;
  }

  .light-span {
    color: #000;
  }

  .dark-span {
    color: #fff;
  }

  .about-color-scheme-h3 {
    margin: 0.65rem;
  }
}

.alt-color-scheme {
  td {
    height: 55px;
    width: 55px;
    font-size: 10px;

  }
}

@media (max-width: 767px) {
  .color-scheme-div td {
    height: 55px;
    width: 55px;
    flex-wrap: wrap;
    font-size: 8px;
    justify-content: space-evenly;
  }

  table,
  pre code,
  code {
    margin-bottom: 1.14rem;
  }


}
