.social a {
  text-decoration: none;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  margin: 0 5px;
}

.social img {
  height: 30px;
  vertical-align: middle;
  filter: brightness(83%) contrast(90%) !important;
  transition: transform 0.3s ease;
}

.social i {
  font-size: 30px;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  transition: transform 0.3s ease;
}

.social i:hover,
.social img:hover {
  transform: scale(1.06);
}

.footer p {
  padding: 0.1em 0.2em;
  font-size: 1.2rem;
  vertical-align: middle;
  display: inline-block;
}
