@use '../../shared/fontawesome/scss/fontawesome';
@use '../../shared/fontawesome/scss/brands';
@use '../../shared/fontawesome/scss/solid';
@use '../../shared/fontawesome/scss/regular';


@use '../../node_modules/normalize.css/normalize';
@use 'blockquotes';
@use 'code';
@use 'main';
@use 'header';
@use 'footer';
@use 'pictures';
@use 'variables';
@use 'mobile-menu';
@use 'social';
@use 'typography';
@use 'technology';
@use 'responsive';

*,
html {
  box-sizing: border-box;
  max-width: 100vw;
}


body {
  background-color: variables.$background-color;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
