@media (max-width: 767px) {
  body {
    width: 100vw;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .main {
    flex: 1 0 auto;
    max-width: 100%;
    justify-content: center !important;
    margin: 2%;
    padding: 2%;
    min-height: 60vh;
  }

  img {
    width: 100%;
  }


}
