@use 'variables';

html {
    font-size: 100%;
}

body {
    line-height: 1.4;
}

* {
  font-family: variables.$bread-font;
}

h1,
a {
  font-family: variables.$main-font;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: variables.$bread-font;
}

p {
    font-size: 1.2em;
    margin-bottom: 1.68rem;
}

* {
  color: variables.$font-color;
}
