.star {
    color: #C3AFC9;
    font-size: 30px;
    text-decoration: none;
    margin-right: 0.2em;
    vertical-align: middle;
}

header nav ul li a span {
    text-decoration: none !important;
}

.nav a {
    text-decoration: none !important;
}

/* .star1 {
    left: 30px;
    top: 10px;
    font-size: 15px;
}

.star2 {
    left: 520px;
    top: 100px;
    font-size: 16px;
}

.star3 {
    left: 1320px;
    top: 80px;
    font-size: 14px;
}

.star4 {
    left: 860px;
    top: 70px;
    font-size: 22px;
} */